<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HOME.HTML Home</title>
<style>
body
{
    background-image: url("images/indx.jpg");
    background-repeat: no-repeat;
	opacity:0.9;
    background-size: 100%; 
    padding-bottom: 75px;
}
.navbar-default
{
	background-color: black;
	color: white;
}
</style>
</head>
<body>
<div class="container">
<div class="row">
	<div class="col-sm-3"></div>	
	<div class="col-sm-9"><br><br><br>
		<h4 style="text-align: Right; color: black"><font face="Consolas">
	 
		<br>
		<br><br><strong><a data-ng-show="!currentUser.username" style="color: green" href="#/register"></a></strong></font></h2>
	</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
   <marquee behavior="slide" direction="left" scrollamount="12"><h6>2018</h6></marquee>
  </div>
</nav>
</body>
</html>